@import '../abstracts/variables';
@import '../abstracts/mixins';

.description {
    padding: 40px 0;

    @include respond(phone) {
        padding: 0;
    }

    &__column {
        &--left {
            grid-column: 1 / 8;

            @include respond(phone) {
                grid-column: 1 / 13;
            }
        }

        &--right {
            grid-column: 10 / 13;
        }
    }

    &__heading {
        font-size: 48px;
        letter-spacing: -0.24px;
        margin-bottom: $text-bottom-margin;

        @include respond(phone) {
            font-size: $h3-size;
            letter-spacing: -0.12px;
            margin-top: 16px;
        }
    }

    &__text {
        line-height: 1.67;
        font-size: 18px;
        margin-bottom: $text-bottom-margin;

        @include respond(phone){
            font-size: 16px;

            &:last-of-type {
                margin-bottom: 32px;
            }
        }
    }

    & .row {
        overflow-x: scroll;
        -ms-overflow-style: none;  // IE 10+
        scrollbar-width: none; // Mozilla (old)
        overflow: -moz-scrollbars-none; // Mozilla (newer)

        &::-webkit-scrollbar {
            display: none; // Safari, Chrome
        }
    }

    &__links {
        color: $color-black;

        @include respond(phone) {
            padding-right: 0;
        }

        &--mobile {
            grid-column: 1 / 13;
            display: none;
            padding-right: 0;
            width: 100%;

            @include respond(phone) {
                display: flex;
            }
        }

        &--desktop {
            grid-column: 10 / 13;
            list-style: none;
            padding-left: 0;

            @include respond(phone) {
                display: none;
            }
        }
    }

    &__link {
        font-size: 18px;
        letter-spacing: -0.09px;
        line-height: 1.33;
        font-weight: bold;
        padding: 16px 0;
        transition: $transition-quick;

        &:active {
            transform: translateY(2px);
            transition: $transition-quick;
        }

        &--desktop {
            &:not(:last-of-type) {
                border-bottom: 1px solid $color-gray-ultra-light;
            }
        }

        &--mobile {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: -0.08px;

            &:not(:last-of-type) {
                padding-right: 16px;
            }
        }

        & a {
            color: $color-black;
            transition: $transition-quick;
            text-decoration: none;

            &:hover {
                color: $color-gray-medium;
                transition: $transition-quick;
            }
        }

        &--active {
            & > a {
                color: $color-gray-medium;
            }
        }

    }
}
