@import '../abstracts/variables';

.image {
    &__container {
        padding: 84px 40px 0;
        margin: 0 auto;
        max-width: $max-content-width-desktop;

        @include respond(phone) {
            padding: 54px 0 0;
            max-width: $max-content-width-mobile;
        }
    }

    &__img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}
