$color-white: rgb(255, 255, 255);
$color-black: rgb(17, 17, 17);
$color-gray-ultra-light: rgba(17, 17, 17, .1);
$color-gray-light: rgba(17, 17, 17, .2);
$color-gray-light-med: rgba(17, 17, 17, .4);
$color-gray-medium: rgba(17, 17, 17, .5);
$color-melon: #ff7752;
$color-bubble-gum: #fc69a6;

$gradient-primary: linear-gradient(130deg, $color-melon, $color-bubble-gum);

$transition-default: all .3s ease-in-out;
$transition-quick: all .1s ease-in-out;

$max-content-width-desktop: 1261px;
$max-content-width-mobile: 1319px;
$text-bottom-margin: 24px;
$h1-size: 48px;
$h3-size: 24px;

$grid-width: 1366px;
$gutter-vertical: 20px;
