@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: normal;
  src: local("HelveticaNeue-Medium"), url("../assets/HelveticaNeue-Medium.woff") format("woff"); }

@font-face {
  font-family: 'HelveticaNeue';
  font-style: normal;
  font-weight: bold;
  src: local("HelveticaNeue-Bold"), url("../assets/HelveticaNeueBold.woff") format("woff"); }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative; }

body {
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

h1,
h2,
h3 {
  font-family: 'HelveticaNeue', Helvetica, sans-serif;
  font-weight: bold;
  margin: 0; }

.container {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 1261px; }
  @media only screen and (max-width: 768px) {
    .container {
      padding: 0 16px;
      max-width: 1319px; } }

.navigation {
  position: fixed;
  height: 84px;
  width: 100%;
  z-index: 10;
  background-color: white;
  transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 768px) {
    .navigation {
      height: 54px; } }
  .navigation--shadow {
    box-shadow: 0 0 24px 0 rgba(17, 17, 17, 0.2);
    transition: all 0.3s ease-in-out; }
  .navigation__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .navigation__logo {
    display: flex;
    align-items: center;
    color: #111111;
    text-decoration: none; }
    .navigation__logo:hover {
      color: #111111; }
  .navigation__image {
    margin-right: 12px;
    width: 18px; }
    @media only screen and (max-width: 768px) {
      .navigation__image {
        margin-right: 7px;
        width: 13px; } }
  .navigation__heading {
    text-transform: capitalize;
    font-size: 24px;
    letter-spacing: -0.12px; }
    @media only screen and (max-width: 768px) {
      .navigation__heading {
        font-size: 18px;
        letter-spacing: -0.09px; } }
  .navigation__nav {
    width: 175px;
    position: relative;
    display: inherit; }
  .navigation__button {
    border: none;
    background-color: transparent;
    margin-left: auto;
    cursor: pointer; }
    .navigation__button:focus {
      outline: none; }
    .navigation__button:hover .navigation__username,
    .navigation__button:hover .navigation__arrow,
    .navigation__button:hover .navigation__icon {
      color: rgba(17, 17, 17, 0.5);
      transition: all 0.3s ease-in-out; }
    .navigation__button:active .navigation__username,
    .navigation__button:active .navigation__arrow,
    .navigation__button:active .navigation__icon {
      color: rgba(17, 17, 17, 0.2);
      transition: all 0.1s ease-in-out; }
    @media only screen and (max-width: 768px) {
      .navigation__button--desktop {
        display: none; } }
    .navigation__button--mobile {
      display: none; }
      @media only screen and (max-width: 768px) {
        .navigation__button--mobile {
          display: block; } }
      .navigation__button--mobile > i {
        margin-top: 5px; }
  .navigation__arrow {
    font-size: 10.5px;
    transition: all 0.3s ease-in-out; }
    .navigation__arrow--flipped {
      transform: rotate(180deg);
      transition: all 0.3s ease-in-out; }
  .navigation__username {
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    letter-spacing: -0.09px; }
  .navigation__icon {
    transition: all 0.3s ease-in-out; }
  .navigation__list {
    position: absolute;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 16px 24px 0 rgba(17, 17, 17, 0.2);
    background-color: white;
    list-style: none;
    padding: 0;
    top: 20px;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease-in-out; }
    .navigation__list--hidden {
      opacity: 0;
      transform: translateY(-320px);
      transition: all 0.3s ease-in-out; }
  .navigation__item {
    margin: 0 16px;
    padding: 16px 0;
    transition: all 0.1s ease-in-out; }
    .navigation__item:not(:last-of-type) {
      border-bottom: 1px rgba(17, 17, 17, 0.2) solid; }
  .navigation__link {
    display: block;
    color: #111111;
    font-weight: bold;
    letter-spacing: -0.09px;
    line-height: 1.33;
    font-size: 16px;
    transition: all 0.1s ease-in-out;
    text-decoration: none; }
    @media only screen and (max-width: 768px) {
      .navigation__link {
        font-size: 14px; } }
    .navigation__link:hover {
      color: rgba(17, 17, 17, 0.5);
      transition: all 0.1s ease-in-out; }
    .navigation__link:active {
      transform: translateX(2px);
      transition: all 0.1s ease-in-out; }

.image__container {
  padding: 84px 40px 0;
  margin: 0 auto;
  max-width: 1261px; }
  @media only screen and (max-width: 768px) {
    .image__container {
      padding: 54px 0 0;
      max-width: 1319px; } }

.image__img {
  width: 100%;
  height: auto;
  border-radius: 8px; }

.description {
  padding: 40px 0; }
  @media only screen and (max-width: 768px) {
    .description {
      padding: 0; } }
  .description__column--left {
    grid-column: 1 / 8; }
    @media only screen and (max-width: 768px) {
      .description__column--left {
        grid-column: 1 / 13; } }
  .description__column--right {
    grid-column: 10 / 13; }
  .description__heading {
    font-size: 48px;
    letter-spacing: -0.24px;
    margin-bottom: 24px; }
    @media only screen and (max-width: 768px) {
      .description__heading {
        font-size: 24px;
        letter-spacing: -0.12px;
        margin-top: 16px; } }
  .description__text {
    line-height: 1.67;
    font-size: 18px;
    margin-bottom: 24px; }
    @media only screen and (max-width: 768px) {
      .description__text {
        font-size: 16px; }
        .description__text:last-of-type {
          margin-bottom: 32px; } }
  .description .row {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none; }
    .description .row::-webkit-scrollbar {
      display: none; }
  .description__links {
    color: #111111; }
    @media only screen and (max-width: 768px) {
      .description__links {
        padding-right: 0; } }
    .description__links--mobile {
      grid-column: 1 / 13;
      display: none;
      padding-right: 0;
      width: 100%; }
      @media only screen and (max-width: 768px) {
        .description__links--mobile {
          display: flex; } }
    .description__links--desktop {
      grid-column: 10 / 13;
      list-style: none;
      padding-left: 0; }
      @media only screen and (max-width: 768px) {
        .description__links--desktop {
          display: none; } }
  .description__link {
    font-size: 18px;
    letter-spacing: -0.09px;
    line-height: 1.33;
    font-weight: bold;
    padding: 16px 0;
    transition: all 0.1s ease-in-out; }
    .description__link:active {
      transform: translateY(2px);
      transition: all 0.1s ease-in-out; }
    .description__link--desktop:not(:last-of-type) {
      border-bottom: 1px solid rgba(17, 17, 17, 0.1); }
    .description__link--mobile {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: -0.08px; }
      .description__link--mobile:not(:last-of-type) {
        padding-right: 16px; }
    .description__link a {
      color: #111111;
      transition: all 0.1s ease-in-out;
      text-decoration: none; }
      .description__link a:hover {
        color: rgba(17, 17, 17, 0.5);
        transition: all 0.1s ease-in-out; }
    .description__link--active > a {
      color: rgba(17, 17, 17, 0.5); }

.form {
  padding: 32px 40px;
  margin-bottom: 64px;
  border-radius: 8px;
  background: linear-gradient(130deg, #ff7752, #fc69a6); }
  @media only screen and (max-width: 768px) {
    .form {
      padding: 18px 16px; } }
  .form__column {
    grid-column: 1 / 5; }
    @media only screen and (max-width: 1100px) {
      .form__column {
        grid-column: 1 / 7; } }
    @media only screen and (max-width: 768px) {
      .form__column {
        grid-column: 1 / 13; } }
  .form__heading {
    color: white;
    font-size: 24px;
    padding-bottom: 24px;
    font-weight: bold;
    letter-spacing: -0.12px; }
    @media only screen and (max-width: 768px) {
      .form__heading {
        font-size: 18px; } }
  .form__fieldset {
    position: relative;
    border: none;
    margin: 0;
    padding: 0 0 16px; }
  .form__group {
    display: flex; }
    .form__group--field {
      flex-direction: column;
      align-items: flex-start; }
      .form__group--field:not(:last-of-type) {
        margin-bottom: 16px; }
    .form__group--buttons {
      flex-direction: row;
      justify-content: flex-start; }
  .form__label {
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px; }
  .form__field {
    font-size: 18px;
    letter-spacing: -0.09px;
    line-height: 1.33;
    width: 100%;
    border-radius: 4px;
    padding: 12px 16px 10px;
    border: none;
    box-sizing: border-box; }
    @media only screen and (max-width: 768px) {
      .form__field {
        font-size: 16px;
        padding: 9px 12px 7px; } }
    .form__field::placeholder {
      color: rgba(17, 17, 17, 0.4);
      font-size: 18px; }
      @media only screen and (max-width: 768px) {
        .form__field::placeholder {
          font-size: 16px; } }
    .form__field--phone::-webkit-outer-spin-button, .form__field--phone::-webkit-inner-spin-button {
      -webkit-appearance: none;
      -moz-appearance: textfield;
      margin: 0; }
  .form__message {
    color: white;
    font-size: 14px;
    min-height: 16px; }
    @media only screen and (max-width: 768px) {
      .form__message {
        font-size: 11px; } }
  .form__button {
    padding: 12px 28px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    border-radius: 24px;
    line-height: 1.33;
    letter-spacing: -0.09px;
    cursor: pointer; }
    .form__button:active {
      transform: translateY(2px); }
    @media only screen and (max-width: 768px) {
      .form__button {
        font-size: 16px;
        padding: 9px 24px; } }
    .form__button--submit {
      border: 2px solid white;
      margin-right: 8px;
      transition: all 0.1s ease-in-out; }
      .form__button--submit > span {
        color: white;
        transition: all 0.1s ease-in-out;
        background: none; }
      .form__button--submit:hover {
        border-color: transparent;
        text-decoration: none;
        background: white;
        transition: all 0.1s ease-in-out; }
        .form__button--submit:hover > span {
          background: linear-gradient(130deg, #ff7752, #fc69a6);
          background-clip: text;
          color: transparent;
          transition: all 0.1s ease-in-out; }
      .form__button--submit:focus {
        outline: none; }
    .form__button--reset {
      color: white;
      border: 2px solid transparent;
      transition: all 0.1s ease-in-out; }
      .form__button--reset:hover {
        border: 2px solid white;
        transition: all 0.1s ease-in-out; }
      .form__button--reset:focus {
        outline: none; }

.footer {
  margin: 0; }
  .footer__container {
    font-size: 18px;
    line-height: 1.56;
    padding: 24px 0;
    border-top: 1px solid rgba(17, 17, 17, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 768px) {
      .footer__container {
        font-size: 16px;
        line-height: 1.75; } }

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease-in-out; }
  .modal--visible {
    opacity: 1;
    z-index: 10;
    transition: all 0.3s ease-in-out; }
    .modal--visible .modal__content {
      transform: translateY(0);
      transition: all 0.3s ease-in-out; }
  .modal__background {
    height: 100%;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.2);
    z-index: 10; }
  .modal__content {
    position: absolute;
    padding: 24px 24px 48px;
    border-radius: 8px;
    background-color: white;
    max-width: 414px;
    width: 100%;
    z-index: 20;
    transform: translateY(-200px);
    transition: all 0.3s ease-in-out; }
    @media only screen and (max-width: 768px) {
      .modal__content {
        width: unset;
        max-width: 280px; } }
  .modal__header {
    border: none;
    display: flex;
    justify-content: flex-end; }
    .modal__header button {
      border: none;
      background-color: transparent;
      cursor: pointer; }
  .modal__close {
    font-size: 18px;
    color: #111111;
    opacity: 1; }
    .modal__close:focus {
      outline: none; }
    .modal__close:hover i {
      color: rgba(17, 17, 17, 0.5);
      transition: all 0.1s ease-in-out; }
    .modal__close:active i {
      color: rgba(17, 17, 17, 0.2);
      transition: all 0.1s ease-in-out; }
    .modal__close i {
      color: #111111;
      transition: all 0.1s ease-in-out; }
  .modal__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111111;
    padding-top: 56px; }
  .modal__image {
    padding-bottom: 36px; }
  .modal__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    letter-spacing: -0.12px;
    margin-bottom: 8px; }
  .modal__text {
    font-size: 18px;
    line-height: 1.33; }

.row {
  max-width: 1366px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .row {
      width: 100% !important; } }
