@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: normal;
    src: local('HelveticaNeue-Medium'), url('../assets/HelveticaNeue-Medium.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: bold;
    src: local('HelveticaNeue-Bold'), url('../assets/HelveticaNeueBold.woff') format('woff');
}
